{% extends '@Optima/layout.html.twig' %}

{#{% block page_title -%}#}
{#Index tutorial#}
{#{%- endblock %}#}

{% set page_title_variable = 'my page title' %}

{% block body %}

acest text este incarcat din action view

{% endblock %}
