{% extends '@Optima/layout.html.twig' %}

{% block body %}
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Options</th>
            <th>Id</th>
            <th>Numar</th>
            <th>Bloc</th>
            <th>Scara</th>
            <th>Suprafata</th>
        </tr>
        {% for item in apartamente %}
            <tr id="row-{{ item.id }}">
                <td>
                    <a href="{{ path('optima_apartamente_edit', { id: item.id }) }}" class="btn btn-primary btn-xs">Edit</a>
                    <a href="#" data-object-id="{{ item.id }}" class="btn btn-danger btn-xs remove-entity">Delete</a>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.numar }}</td>
                <td>{{ item.bloc }}</td>
                <td>{{ item.scara }}</td>
                <td>{{ item.suprafata }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var ajax_url = "{{ path('optima_apartamente_remove') }}";
    </script>
    <script src="{{ asset('bundles/optima/js/optima.js') }}"></script>
{% endblock %}
