{% extends '@Optima/layout.html.twig' %}

{% block body %}

    <h2>{{ page_title | default('Adauga/Modifica') }}</h2>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" class="btn btn-success" value="{{ 'Save' | trans }}">
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}