{% macro btnHeader(label, list_path, add_path) %}
    <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path(list_path) }}" type="button" class="btn btn-default btn-primary">{{ label | trans }}</a>
        <a href="{{ path(add_path) }}" type="button" class="btn btn-default btn-success"><i class="fa fa-plus"></i></a>
    </div>
{% endmacro %}
