{% extends '@Optima/layout.html.twig' %}

{% block body %}
<table class="table table-condensed table-bordered">
    <tr>
        <th>Options</th>
        <th>Id</th>
        <th>Nume</th>
        <th>Cod fiscal</th>
        <th>Adresa</th>
        <th>Reprezentant</th>
        <th>Responsabil</th>
    </tr>
    {% for item in asociatii %}
        <tr id="row-{{ item.id }}"{% if item.angajat is null or item.angajat.deleted %} class="danger"{% endif %}>
            <td>
                <a href="{{ path('optima_asociatii_edit', { id: item.id }) }}" class="btn btn-primary btn-xs">Edit</a>
                <a href="#" data-object-id="{{ item.id }}" class="btn btn-danger btn-xs remove-entity">Delete</a>
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.nume }}</td>
            <td>{{ item.codFiscal }}</td>
            <td>{{ item.adresa }}</td>
            <td>{{ item.reprezentant }}</td>
            <td>
                {% if item.angajat is null %}
                ---
                {% elseif item.angajat.isDeleted %}
                <del>{{ item.angajat.fullName }}</del>
                {% else %}
                {{ item.angajat.fullName | raw }}
                {% endif %}
            </td>
            {#<td>{{ item.angajat }}</td>#}
        </tr>
    {% endfor %}

</table>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var ajax_url = "{{ path('optima_asociatii_remove') }}";
    </script>
    <script src="{{ asset('bundles/optima/js/optima.js') }}"></script>
{% endblock %}