{% extends '@Optima/layout.html.twig' %}

{% block body %}
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Options</th>
            <th>Id</th>
            <th>Prenume</th>
            <th>Nume</th>
            <th>Email</th>
            <th>Telefon</th>
        </tr>
        {% for item in locatari %}
            <tr id="row-{{ item.id }}">
                <td>
                    <a href="{{ path('optima_locatari_edit', { id: item.id }) }}" class="btn btn-primary btn-xs">Edit</a>
                    <a href="#" data-object-id="{{ item.id }}" class="btn btn-danger btn-xs remove-entity">Delete</a>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.prenume }}</td>
                <td>{{ item.nume }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telefon }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var ajax_url = "{{ path('optima_locatari_remove') }}";
    </script>
    <script src="{{ asset('bundles/optima/js/optima.js') }}"></script>
{% endblock %}
