{% extends '@Optima/layout.html.twig' %}

{% block body %}

    <table class="table table-condensed table-bordered">
        <tr>
            <th>Options</th>
            <th>ID</th>
            <th>Nume</th>
            <th>CNP</th>
            <th>Buletin</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Functie</th>
        </tr>

        {% for user in users %}
        <tr id="row-{{ user.id }}">
            <td>
                <a href="{{ path('optima_angajati_edit', { id: user.id }) }}" class="btn btn-xs btn-primary">Edit</a>
                <a href="#" data-object-id="{{ user.id }}" class="btn btn-xs btn-danger remove-entity">Delete</a>
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.FullName }}</td>
            <td>{{ user.cnp }}</td>
            <td>{{ user.buletin }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telefon }}</td>
            <td>{{ user.functie }}</td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var ajax_url = "{{ path('optima_angajati_remove') }}";
    </script>
    <script src="{{ asset('bundles/optima/js/optima.js') }}"></script>
{% endblock %}